:root {
  --yellow: #f4c430;
  --red: #e63946;
  --green: #4caf50;
  --blue: #00bcd4;
  --magenta: #c2185b;
  --icon-size: 30px;
  --active-border: #c8bfb5;
}

body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.snake {
  min-height: calc(100% - 24px);
  min-width: 100%;
  max-height: calc(100% - 24px);
  max-width: 100%;
}

.nav-pane {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.snake canvas {
  border: 1px solid green;
}

.nav-item {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s ease;
  position: relative;
  left: 0;
  border-color: white;
  transition: background-color 0.5s ease;
}

.nav-item:hover {
  width: 210px;
  /* fallback for firefox & other not-calc-size supporting browsers */
  transition: width 0.3s ease;
  width: calc-size(auto, size);
}

.nav-item .icon {
  margin-right: 5px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  max-width: var(--icon-size);
  max-height: var(--icon-size);
  background: #111;
  border-radius: 50%;
}

.nav-item.active .icon {
  border: 2px solid var(--active-border);
}

.nav-item .label {
  white-space: nowrap;
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.3s ease;
  padding-right: 10px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.nav-item:hover .label {
  opacity: 1;
}

.topBar {
  cursor: grab;
  height: 24px;
  user-select: none;
  touch-action: none;
}

.app-content {
  border: 2px solid;
  position: absolute;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  display: none;
  background-color: #222;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  max-height: 0;
  min-height: 10vh;
  min-width: 10vw;
  transition: max-height 0.5s ease;
  border-color: white;
  overflow: hidden;
}

.scrollwrapper {
  height: calc(100% - 24px);
  overflow-y: scroll;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
}

.app-content.show {
  max-height: 100vh;
  display: block;
}

.button {
  width: 100px;
  border: 2px solid grey;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 5px;
}

.resize-button {
  position: relative;
  height: 24px;
  cursor: nesw-resize;
  color: white;
  font-size: 12px;
  user-select: none;
  touch-action: none;
  width: 24px;
  text-align: center;
  display: inline-block;
}

.title-bar {
  display: inline-block;
  position: relative;
  height: 24px;
  text-align: center;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
}

.close-button {
  position: relative;
  height: 24px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  user-select: none;
  touch-action: none;
  width: 24px;
  text-align: center;
  display: inline-block;
}

.bg-b {
  background-color: var(--blue);
}

.bg-g {
  background-color: var(--green);
}

.bg-y {
  background-color: var(--yellow);
}

.bg-m {
  background-color: var(--magenta);
}

.bg-r {
  background-color: var(--red);
}

.r {
  border-color: var(--red);
}

.nav-item.active {
  background-color: var(--red);
  border-color: var(--active-border);
}

.nav-item.active.g {
  background-color: var(--green);
  border-color: var(--active-border);
}

.nav-item.active.b {
  background-color: var(--blue);
  border-color: var(--active-border);
}

.nav-item.active.y {
  background-color: var(--yellow);
  border-color: var(--active-border);
}

.nav-item.active.m {
  background-color: var(--magenta);
  border-color: var(--active-border);
}

.g {
  border-color: var(--green);
}

.b {
  border-color: var(--blue);
}

.y {
  border-color: var(--yellow);
}

.m {
  border-color: var(--magenta);
}